<footer>

  <div class="social-links">
    <a href="https://instagram.com/yourname" target="_blank" title="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://deviantart.com/yourname" target="_blank" title="DeviantArt">
      <i class="fab fa-deviantart"></i>
    </a>
    <a href="https://twitter.com/yourname" target="_blank" title="Twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://bsky.app/profile/yourname.bsky.social" target="_blank" title="BlueSky">
      <i class="fa-solid fa-cloud"></i>
    </a>
    <a href="https://youtube.com/@yourname" target="_blank" title="YouTube">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://yourname.itch.io" target="_blank" title="itch.io">
      <i class="fa-brands fa-itch-io"></i>
    </a>
    <a href="https://ko-fi.com/yourname" target="_blank" title="Ko-fi">
      <i class="fa-solid fa-mug-hot"></i>
    </a>
  </div>
  

  <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
</footer>
