<footer>
  <div class="social-links">
    <a href="https://instagram.com/zbule" target="_blank" title="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://deviantart.com/zbule" target="_blank" title="DeviantArt">
      <i class="fab fa-deviantart"></i>
    </a>
    <a href="https://twitter.com/zBuLe" target="_blank" title="Twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://bsky.app/profile/zbule.xyz" target="_blank" title="BlueSky">
      <i class="fa-brands fa-bluesky"></i>
    </a>
    <a href="https://youtube.com/@bluestar03" target="_blank" title="YouTube">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://zbule.itch.io" target="_blank" title="itch.io">
      <i class="fa-brands fa-itch-io"></i>
    </a>
    <a href="https://ko-fi.com/zbule" target="_blank" title="Ko-fi">
      <i class="fa-solid fa-mug-hot"></i>
    </a>

    <a href="https://ko-fi.com/zbule" target="_blank" title="Ko-fi">
      <i class="fas fa-ko-fi"></i>
    </a>

    <a href="https://ko-fi.com/zbule" target="_blank" title="Ko-fi">
      <i class="fa-solid fa-mug-hot"></i>
    </a>
  </div>
  <i class="fas fa-mug-hot ko-fi"></i>
  <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
</footer>
