<aside class="sidebar collapsed" id="sidebar">
    <div class="panel-spacer site-title-spacer">
  <a href="{{ '/' | relative_url }}" class="site-title">{{ site.title }}</a>
</div>

    <!-- Dynamic navigation -->
    <nav>
        <ul>
            {% for item in site.nav %}
                <li>
                    <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <!-- Footer with social icons -->
    <div class="panel-footer">
        {% if site.social %}
  {% for item in site.social %}
    <a href="{{ item.url }}" target="_blank" title="{{ item.title }}">
      <i class="{{ item.icon }}"></i>
    </a>
  {% endfor %}
  {% endif %}
  <p>Version 1.0<br>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
</div>

</aside>
