<!DOCTYPE html>
<html lang="en" data-theme="">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
</head>
<body>

    {% include header.html %}
    {% include toc.html %}
    {% include topline.html %}

    <main id="main">
        {{ content }}
    </main>

    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
